    body {
        margin: auto;
        width: 75em;
    }

    .scrollable {
        margin-bottom: 0em;
        max-height: 50em;
        overflow: auto;
    }

    .scrollable table {
        border-spacing: 0;
        margin-bottom: 0;
        min-width: 100%;
        width: max-content;
    }
    /* #c8ed2 */


    .scrollable th, .scrollable td {
        border-bottom: 1px solid lightgrey;
        max-width: 5em;
        min-width: 5em;
        vertical-align: top;
        text-align: center;
        vertical-align: middle;
    }

    .scrollable th {
        background: #2974ab;
        position: sticky;
        text-align: center;
        top: 0;
        color:white;
    }
    
    td:first-child, th:first-child {
        position:sticky;
        left:0;
        z-index:1;
        
      }

#ColOdd{
    background:#d9f1ff;
    font-weight: 600;
}    
#ColEven{
    background:white;
    font-weight: 600;
}

      /* This needs a background */
      td:nth-child(2),th:nth-child(2)  { 
      position:sticky;
        left:80px; 
        z-index:1;
        }



    .scrollable th:first-of-type {
        z-index: 3;
       
    }

    /* This needs a background */
    .scrollable td:first-of-type {
        z-index:1;
       
    }
    th:first-child , th:nth-child(2) {
        z-index:3;
       
        }

    .scrollable tr:nth-child(odd){
        background:#d9f1ff;
        /* background: #2974ab; */
      

    }
    .scrollable tr:nth-child(even){
        background: white;
        
    }
    
#check{
    color: black;
    font-size: 18px;
}
#blueX{
    color:#d9f1ff;
    font-size: 18px;
}
#whiteX{
    color:white;
    font-size: 18px;
}
p{
    margin-bottom: 5px;
    margin-top: 5px;
}
