    body {
        margin: auto;
        width: 75em;
    }

    .scrollable {
        margin-bottom: 1em;
        max-height: 50em;
        overflow: auto;
    }

    .scrollable table {
        border-spacing: 0;
        margin-bottom: 0;
        min-width: 100%;
        width: max-content;
    }


    .scrollable th, .scrollable td {
        border-bottom: 0px solid black;
        max-width: 5em;
        min-width: 5em;
        /* padding: -0.90em -0.90em; */
        vertical-align: top;
        text-align: center;
        vertical-align: middle;
    }

    .scrollable th {
        background: #dee0e2;
        position: sticky;
        text-align: center;
        top: 0;
    }
    
    td:first-child, th:first-child {
        position:sticky;
        left:0;
        z-index:1;
      }

#ColOdd{
    background:rgb(222, 241, 253);
    font-weight: 600;
}    
#ColEven{
    background:white;
    font-weight: 600;
}

      /* This needs a background */
      td:nth-child(2),th:nth-child(2)  { 
      position:sticky;
        left:80px; 
        z-index:1;
        }



    .scrollable th:first-of-type {
        z-index: 3;
    }

    /* This needs a background */
    .scrollable td:first-of-type {
        z-index:1;
    }
    th:first-child , th:nth-child(2) {
        z-index:3;
        }

    .scrollable tr:nth-child(odd){
        background: rgb(222, 241, 253);
    }
    .scrollable tr:nth-child(even){
        background: white;
    }
#check{
    color: black;
    font-size: 18px;
}
#x{
    color:rgb(222, 241, 253);
    font-size: 18px;
}
